absl-py==2.0.0
accelerate==0.20.3
addict==2.4.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
albumentations==1.3.0
alembic==1.12.1
altair==5.0.1
anaconda-client==1.11.0
anaconda-navigator==2.3.1
annotated-types==0.5.0
annotator==0.14.2
antlr4-python3-runtime==4.8
anyio==3.7.1
appdirs==1.4.4
asteroid-filterbanks==0.4.0
astunparse==1.6.3
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==23.1.0
audioread==3.0.1
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
basicsr==1.4.2
bidict==0.22.1
bkcharts==0.2
blinker==1.6.2
braceexpand==0.1.7
brotlipy==0.7.0
cachetools==5.3.1
click==8.1.3
clyent==1.2.2
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.7.0
comtypes==1.1.10
conda==22.9.0
conda-build==3.22.0
conda-repo-cli==1.0.41
conda-verify==3.4.2
constantly==15.1.0
contourpy==1.1.0
controlnet-aux==0.0.6
copier==8.3.0
cssselect==1.1.0
Cython==0.29.35
cytoolz==0.11.0
daal4py==2021.6.0
datashape==0.5.4
diart==0.8.0
diffusers==0.21.4
docopt==0.6.2
dtw-python==1.3.0
dunamai==1.18.1
einops==0.7.0
elasticsearch==1.9.0
et-xmlfile==1.1.0
exceptiongroup==1.1.1
facexlib==0.3.0
fastapi==0.104.1
ffmpeg==1.4
ffmpy==0.3.0
filelock==3.12.2
filterpy==1.4.5
Flask==2.2.2
flatbuffers==23.5.26
flet==0.10.2
flet-core==0.10.2
flet-runtime==0.10.2
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
ftfy==6.1.1
funcy==2.0
future==0.18.3
gast==0.4.0
gcloud==0.18.3
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.14.0
google-auth==2.20.0
google-auth-oauthlib==0.4.6
google-cloud==0.34.0
google-cloud-speech==2.22.0
google-pasta==0.2.0
googleapis-common-protos==1.61.0
gradio==3.45.0
gradio_client==0.5.2
grpcio==1.59.2
grpcio-status==1.59.2
h11==0.14.0
h5py==3.1.0
httpcore==0.17.2
httplib2==0.22.0
httpx==0.24.1
huggingface-hub==0.18.0
humanfriendly==10.0
HyperPyYAML==1.2.2
imageio==2.9.0
imageio-ffmpeg==0.4.2
imgaug==0.2.6
importlib-metadata==6.7.0
importlib-resources==5.12.0
imutils==0.5.4
inflection==0.5.1
invisible-watermark==0.1.5
iso8601==2.1.0
Jinja2==3.1.2
jinja2-ansible-filters==1.3.2
joblib==1.2.0
json-tricks==3.17.3
jsonschema==4.17.3
julius==0.2.7
keras==2.10.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.4.4
kornia==0.6.0
lap==0.4.0
latexcodec==2.0.1
lazy_loader==0.2
libclang==16.0.6
librosa==0.10.1
lightning==2.1.0
lightning-fabric==2.1.1
lightning-utilities==0.9.0
linkify-it-py==2.0.2
llvmlite==0.38.0
lmdb==1.4.1
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
mccabe==0.6.1
mdit-py-plugins==0.4.0
mdurl==0.1.2
mediapipe==0.10.7
mkl-fft==1.3.1
mkl-service==2.4.0
ml-dtypes==0.2.0
more-itertools==10.1.0
mpmath==1.3.0
multidict==6.0.4
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.3.0
networkx==3.1
noisereduce==3.0.0
numpy==1.21.0
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cudnn-cu11==8.9.4.19
oauth2client==4.1.3
oauthlib==3.2.2
omegaconf==2.1.1
onnx==1.14.0
onnxruntime==1.15.1
onnxruntime-gpu==1.16.1
open-clip-torch==2.0.2
openai-whisper==20231106
opencv-contrib-python==4.8.0.74
opencv-python==4.6.0.66
opencv-python-headless==4.7.0.72
openpyxl==3.0.10
opt-einsum==3.3.0
optuna==3.4.0
orjson==3.9.1
packaging==23.1
pandas==2.0.2
patsy==0.5.2
pep8==1.7.1
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
playsound==1.3.0
plumbum==1.8.2
pooch==1.8.0
prettytable==3.6.0
primePy==1.3
proto-plus==1.22.3
protobuf==3.20.0
psutil==5.9.5
pudb==2019.2
pyannote.audio==3.0.1
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.14
pybtex==0.24.0
pycosat==0.6.3
pycryptodome==3.18.0
pycurl==7.45.1
pydantic==2.4.2
pydantic_core==2.10.1
pydeck==0.8.1b0
pyDeprecate==0.3.1
PyDispatcher==2.0.5
pydub==0.25.1
Pygments==2.15.1
pyls-spyder==0.4.0
Pympler==1.0.1
pyparsing==3.1.0
pypng==0.20220715.0
pyreadline3==3.4.1
pyrsistent==0.19.3
PySoundFile==0.9.0.post1
pyspeech==0.0.0
pytest==7.1.2
python-engineio==4.8.0
python-lsp-jsonrpc==1.0.0
python-multipart==0.0.6
python-osc==1.8.3
python-socketio==5.10.0
pytorch-lightning==1.5.0
pytorch-metric-learning==2.3.0
pytz==2023.3
PyWavelets==1.4.1
pywin32==302
PyYAML==6.0
pyyaml-include==1.3.1
qrcode==7.4.2
qudida==0.0.4
questionary==2.0.1
queuelib==1.5.0
realesrgan==0.3.0
regex==2023.6.3
repath==0.9.0
requests-oauthlib==1.3.1
rich==13.4.2
romp==2021.11
rsa==4.9
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
Rx==3.2.0
safetensors==0.3.1
scikit-image==0.20.0
scikit-learn==1.2.2
scikit-learn-intelex==2021.20221004.171935
scipy==1.9.1
semantic-version==2.10.0
semver==3.0.1
sentencepiece==0.1.99
shellingham==1.5.4
simple-romp==1.0.8
simple-websocket==1.0.0
sip==4.19.13
six==1.15.0
smmap==5.0.0
sniffio==1.3.0
SoundCard==0.4.2
sounddevice==0.4.6
soundfile==0.12.1
soxr==0.3.7
speechbrain==0.5.15
SpeechRecognition==3.10.0
starlette==0.27.0
statsmodels==0.13.2
streamlit==1.12.1
streamlit-drawable-canvas==0.8.0
sympy==1.12
tables==3.6.1
tb-nightly==2.14.0a20230618
TBB==0.2
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-intel==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==1.1.0
test-tube==0.7.5
threadpoolctl==3.1.0
tifffile==2023.4.12
tiktoken==0.5.1
timm==0.6.12
tokenizers==0.12.1
tomlkit==0.12.0
toolz==0.12.0
torch==2.1.1+cu118
torch-audiomentations==0.11.0
torch-pitch-shift==1.2.4
torchaudio==2.1.1+cu118
torchmetrics==1.2.0
torchvision==0.16.1+cu118
tornado==6.3.2
tqdm==4.65.0
transformers==4.30.2
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.0.1
uc-micro-py==1.0.2
urwid==2.1.2
uvicorn==0.22.0
validators==0.20.0
watchdog==3.0.0
wcwidth==0.2.6
webdataset==0.2.5
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.6.3
websocket-server==0.6.4
websockets==11.0.3
Werkzeug==2.3.6
whisper==1.1.10
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
wsproto==1.2.0
yapf==0.32.0
yarl==1.9.2
zict==2.1.0
zipp==3.15.0
zstandard==0.19.0
